.container {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.color-picker-container {
	text-align: center;
}

.board-container {
	width: 100vw;
	height: 100vh;
	margin: auto;
	margin-top: 1%;
	background: white;
}
